[submodule "build-infra/qubes-builder"]
	path = build-infra/qubes-builder
	url = https://github.com/qubesos/qubes-builder
[submodule "build-infra/qubes-builder-github"]
	path = build-infra/qubes-builder-github
	url = https://github.com/qubesos/qubes-builder-github
[submodule "build-infra/qubes-builderv2"]
	path = build-infra/qubes-builderv2
	url = https://github.com/QubesOS/qubes-builderv2
[submodule "build-infra/qubes-infrastructure-mirrors"]
	path = build-infra/qubes-infrastructure-mirrors
	url = https://github.com/qubesos/qubes-infrastructure-mirrors.git
[submodule "build-infra/builderv2-github"]
	path = build-infra/qubes-builderv2-github
	url = https://github.com/QubesOS/qubes-builderv2-github
