[submodule "build-infra/qubes-builder"]
	path = build-infra/qubes-builder
	url = https://github.com/qubesos/qubes-builder
[submodule "build-infra/qubes-builder-github"]
	path = build-infra/qubes-builder-github
	url = https://github.com/qubesos/qubes-builder-github
